<%- include("partials/header") -%>

<h1>Compose</h1>
<form class="" action="/" method="post">
  <label>Title</label><br />
  <input class="form-control" type="text" name="postTitle" value=""><br />
  <label>Post</label><br />
  <textarea class="form-control" rows="5" name="postBody"></textarea><br />
  <button type="submit" class="btn btn-primary btn-sm" name="publish">Publish</button><br />
</form>


<%- include("partials/footer") -%>
